
body {
  background-color: hsl(0, 0%, 95%)
}

#form-container {
  background-color: rgb(186, 202, 201);
  
}

input[type='text'] {
  font-size: 14px;
  font-weight: bolder;
}

#phone-number, #how-did, #promo-code {
  font-size: 12px;
  font-weight: normal;
}

#header-image{
    margin: 0 auto;
    width:100%;
    display: flex;
  }

 .bold-asterik {
  color: red;
  font-weight: bold;
 } 

  #info-form {
    font-size: 12px;
    align-items: center;
    text-align: center;
  }
  label {
    font-size: 12px;
  }

  #bold-label {
    font-size: 14px;
    font-weight: bold;
  }

  .big-checkbox {width: 30px; height: 30px;}


 input[type="email"] {
  font-style: italic;
  
}


 #green-alert {
  font-size: 14px;
  font-weight: bolder;
 }

  img {
    margin: 10 auto;
    width: 100%;
    align-items: center;  
    flex-direction: column;
    filter: grayscale(90%);

}
footer {
    border: 10px;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}